USE [master]
GO
/****** Object:  Database [Bakery2]    Script Date: 06.05.2022 13:59:16 ******/
CREATE DATABASE [Bakery2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bakery2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL_001\MSSQL\DATA\Bakery2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Bakery2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL_001\MSSQL\DATA\Bakery2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bakery2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bakery2]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 06.05.2022 13:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id_Tovar] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Cost] [decimal](18, 0) NULL,
	[Description] [varchar](500) NULL,
	[ImageTovar] [image] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id_Tovar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 06.05.2022 13:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id_review] [int] IDENTITY(1,1) NOT NULL,
	[Review] [varchar](50) NULL,
	[Rating] [float] NULL,
	[Id] [int] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id_review] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewsTovar]    Script Date: 06.05.2022 13:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewsTovar](
	[Id_review] [int] NOT NULL,
	[Id_Tovar] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ReviewsTovar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.05.2022 13:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Phone] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[ReviewsTovar]  WITH CHECK ADD  CONSTRAINT [FK_ReviewsTovar_Menu] FOREIGN KEY([Id_Tovar])
REFERENCES [dbo].[Menu] ([Id_Tovar])
GO
ALTER TABLE [dbo].[ReviewsTovar] CHECK CONSTRAINT [FK_ReviewsTovar_Menu]
GO
ALTER TABLE [dbo].[ReviewsTovar]  WITH CHECK ADD  CONSTRAINT [FK_ReviewsTovar_Reviews] FOREIGN KEY([Id_review])
REFERENCES [dbo].[Reviews] ([Id_review])
GO
ALTER TABLE [dbo].[ReviewsTovar] CHECK CONSTRAINT [FK_ReviewsTovar_Reviews]
GO
USE [master]
GO
