<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="BakeryEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL-STUD1\SQL_001;initial catalog=Bakery;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BakeryEntities1" connectionString="metadata=res://*/Bulochnaya_BD.csdl|res://*/Bulochnaya_BD.ssdl|res://*/Bulochnaya_BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL-STUD1\SQL_001;initial catalog=Bakery;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BakeryEntities2" connectionString="metadata=res://*/Bulochnaya_BD.csdl|res://*/Bulochnaya_BD.ssdl|res://*/Bulochnaya_BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL-STUD1\SQL_001;initial catalog=Bakery;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>